#                                                  || Assignment ||
### Name: Syed Anas Ahmed
### Saylani Roll_Number: AI-479872

###  || Part A: Print Statement ||

#### 1: Write a program to print your name and age using a single print statement.

In [1]:
print("Syed Anas Ahmed",20)

Syed Anas Ahmed 20

#### 2: Use sep to print numbers 1, 2, 3, 4, 5 with different separators (-, |, ,).

In [4]:
print(1,2,3,4,5,sep="-" ) # using "-"
print(1,2,3,4,5,sep="|" ) # using "|"
print(1,2,3,4,5,sep="," ) # using ","
print(1,2,3,4,5,sep=" " ) # using " "

1-2-3-4-5
1|2|3|4|5
1,2,3,4,5
1 2 3 4 5

#### 3: Use end to print the following output using only two print statements:
#### Hello World!
#### I am learning Python

In [5]:
print("Hello World!",end = " ")
print("I am learning Python")

Hello World! I am learning Python

#### 4: Write a program to print the following shape using only print statements:
#### *
#### * *
#### * * *
#### * * * *

In [6]:
print("*")
print("* *")
print("* * *")
print("* * * *")

*
* *
* * *
* * * *

### || Part B: Variables ||

#### 1: Create variables name, age, and city. Print them in a single line as a meaningful sentence.

In [8]:
name = "Syed Anas Ahmed"
age = 20
city = "Karachi"

print("My name is", name, ", I am", age, "years old, and I live in", city + ".")

My name is Syed Anas Ahmed , I am 20 years old, and I live in Karachi.

#### 2: Create two variables a = 10 and b = 20. Print their sum, difference, product, and division.

In [9]:
a = 10
b = 20
print(a + b) # Sum
print(a - b) # Difference
print(a * b) # Product
print(a / b) # Division

30
-10
200
0.5

#### 3: Reassign a = 15 and b = 25. Print results again.

In [10]:
a = 15
b = 25
print(a + b) # Sum
print(a - b) # Difference
print(a * b) # Product
print(a / b) # Division

40
-10
375
0.6

#### 4: Create a variable pi = 3.14159. Print the area of a circle with radius r = 5.

In [12]:
pi = 3.14159
r = 5
Area = pi * r * r  # Formula
print("The area of the circle is:",Area)

The area of the circle is: 78.53975

### || Bonus Challenge ||

#### 1: Swap two variables without using a third variable.

In [16]:
a = 10 
b = 20
print("a =",a)
print("b =",b)
a,b = b,a
print("--------")
print("a =",a)
print("b =",b)

a = 10
b = 20
--------
a = 20
b = 10