# Print Function

In [1]:
print("Hello Wolrd")

Hello Wolrd

In [2]:
print("Syed","Anas",sep="--")

Syed--Anas

In [3]:
print("Syed",end=" ")
print("Anas")

Syed Anas

In [4]:
print("Syed",end=" ")
print("Anas",end=" ")
print("Ahmed")

Syed Anas Ahmed

In [5]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)
print(23%2)

4
0
4
1.0
1

# Data Types

In [6]:
print(type("Anas"))
print(type(23))
print(type(2.3))
print(type(True))
print(type(None))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

# Variables

In [7]:
a = 10
b = 20
print(a+b)

30

In [8]:
print (a - b)

-10

In [9]:
x = 100
y = 200
print(x,y)
x , y = y , x
print(x , y)

100 200
200 100

In [10]:
a = 300
b = 200
print(a + b) # Additon
print(a - b) # Subtraction
print(a * b) # Multiply 
print(a ** b) # Square root
print(a / b) # Divide
print(a // b) # Floor Division 
print(a % b) # Modulas

500
100
60000
2656139888758747693387813220357796268292334526533944959745749617390924909013021829943846990440010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
1.5
1
100

# Escape Sequence

In [11]:
print("Hello\nWorld")
print("Syed\tAnas\tAhmed")
print("Hi I am Anas\nI am 20 years \b old")

Hello
World
Syed	Anas	Ahmed
Hi I am Anas
I am 20 years old

# Bio Data

In [12]:
Name = "Syed Anas Ahmed"
Father_Name = "Syed Maqbool Ahmed"
Age = 20
Education = "BS Data Science"
Height = 5.6
Weight = 58
print(f"Name:{Name}\nFather_Name{Father_Name}\nAge:{Age}\nEducation:{Education}\nHeight:{Height}\nWeight:{Weight}")

Name:Syed Anas Ahmed
Father_NameSyed Maqbool Ahmed
Age:20
Education:BS Data Science
Height:5.6
Weight:58